.gradient-background {
    background: linear-gradient(300deg, #153462, #4FA095, #BAD1C2);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body{
  font-family: Helvetica, sans-serif;
}
#warna{
    color: #4FA095;
}

#buttonWarna{
  background-color: #BAD1C2; 
  width: 100px;
  height: 100px;
}

#buttonKecil{
    background-color: #153462;
}

#efect{
    transition: all 0.3s ;
}
#efect:hover{
    transform: scale(1.15);
}

